@(title: String)(atHead: Html)(atBody: Html)(atFooter: Html)(implicit request: play.mvc.Http.Request)

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>@title</title>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/aos.css")">
		<link rel="stylesheet" href="@routes.Assets.at("libraries/bootstrap/4.3.1/css/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("libraries/fontawesome/5.9.0/css/all.css")">@atHead
	</head>
	<body>
		@if(!request.flash.data.isEmpty) {
			<section id="alert-panel"> @if(request.flash.get("error").isPresent) {
				<div class="alert alert-danger" role="alert">@request.flash.get("error").get()</div>
			} @if(request.flash.get("success").isPresent) {
				<div class="alert alert-success" role="alert">@request.flash.get("success").get()</div>
			} @if(request.flash.get("warning").isPresent) {
				<div class="alert alert-warning" role="alert">@request.flash.get("warning").get()</div>
			}</section>
		}@atBody
	</body>
	<footer>
		<script src="@routes.Assets.at("javascripts/aos.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("libraries/jquery/3.4.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("libraries/jquery/ui/1.12.1/jquery-ui.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("libraries/popper/popper.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("libraries/bootstrap/4.3.1/js/bootstrap.bundle.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("libraries/fontawesome/5.9.0/js/all.min.js")" type="text/javascript"></script>
		<script>AOS.init();</script>@atFooter
	</footer>
</html>